*{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Fira Sans', sans-serif;
}

h1{
    font-size: 3rem;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Fira+Sans&display=swap')