.SideMarginCard{
    border: solid white;
    border-width: 2px;   
    text-align: center;    
    border-radius: 10px;
    background-color: #181717;
    margin: 5% 15% 0% 15%;
    padding: 2% 2% 0% 2%;
    color: white;
    


}

#weather-image{
    border-radius: 25px;
   
}