#maincontentsidebar{
  display:grid;
    grid-template-rows: repeat(40, 10px);
    grid-template-columns: repeat(10, 1fr);

}

#searchbutton{
    background-color:white;
    grid-row: 15/18;
    grid-column: 4/7;
}

#weather-icon{
    grid-row: 30/35;
    grid-column: 5/6
}

