

/*desktop view*/
@media(min-width: 600px){
    .container{
        margin-top: 5px;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
   
    }    
    .grid-item{ 
   
      flex: 1;
      height:100px;
      width: 80%;
      border-radius: 10px;      
      min-width: 100px;
      margin: 5%;
      
      
    
    }    
    .search-again-button{
        margin-top: 12px;
        border-style: none;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.84rem;
    }
    .search-again-button:hover{
        cursor: pointer;      
    }
  

}

/*mobile view*/
@media(max-width: 600px){
    .container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .grid-item{
        flex: 1;
        height:100px;
        width: 80%;
        border-radius: 10px;
         min-width: 100px;
        margin: 5%;
        
        
    
    }

   

 
    .search-again-button{
        margin-top: 12px;
        border-style: none;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 1.84rem;
    }
    .search-again-button:hover{
        cursor: pointer;
      
    }



}
