

/*desktop view*/
@media(min-width: 510px){
    .container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;
       
    }    
    .grid-item{ 
   
      flex: 1;
      height:100px;
      width: 80%;
      border-radius: 10px;      
      min-width: 100px;
      margin: 5%;
      
    
    }    
    .text-area{
        flex: 1;
        height:80px;
        width: 80%;
        border-radius: 10px;
        margin-left: 10%;
        background-color: whitesmoke;       
        margin-right: 5%;
    }    

    #searchbutton{
        margin: 1%;
        padding: 2%;
      
        border-radius: 10px;
        margin-left: 20%;
        margin-right: 10%;
    }
    #searchbutton:hover{
        background-color: #1A1A1A;
      cursor: pointer;
      color:antiquewhite
    }

}


/*mobile view*/
@media(max-width: 510px){
    .container{
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .grid-item{
        flex: 1;
        height:100px;
        width: 80%;
        border-radius: 10px;
         min-width: 200px;
        margin: 5%;
        
        
    
    }

    .text-area{
        flex: 1;
        height:80px;
        width: 80%;
        border-radius: 10px;
        background-color: whitesmoke;
        font-size: 2rem;
        margin-left: 10%;
        margin-right: 10%;

    }

    #searchbutton{
        margin: 1%;
        padding: 2%;
        margin-left: 30%;
        border-radius: 10px;
        margin-right: 20%;
        
       
    }

    #searchbutton:hover{
        background-color: #1A1A1A;
      cursor: pointer;
      color:antiquewhite
    }



}
